html, body {
	font-size: 62.5%;
    font-size: 1.2rem;
    

}
body{
    /* background-image: url("images/malik-earnest-xgxzqRpK0UE-unsplash.jpg"); */
    background-color:white;
	color: aliceblue;
}



header{
    background-image: url("../images/selling.jpg");
    /* display: flex;
    justify-content: center;     */
    /* margin-top: 3.1rem; */
    width: 130rem;
    /* height: 35rem; */
    color: aliceblue;

    /* margin-right: 2.5 rem;
    margin-left: 2.5 rem; */

}



.headerSection{
        background-color: rgb(110, 20, 35);
        border-radius: 10px;
        opacity: .7;
        height: 80vh;
        width: 130rem;
        text-align: center;
        /* margin-top: 4rem; */
        padding-top: 10rem;
        padding-left: 5rem;
        padding-right: 5rem;
    .hstext{
        font-size: 50rem;
        vertical-align: center;
        
    }    
}

button{
    width: 25rem;
    height: 7rem;
    border-radius: 10px;
    margin: 40px;
    font-size: 2rem;

    
}
button:hover {
    background-color: hotpink;
}

/* .main{
    margin:1rem;
} */



/* first service listing */
.serv1{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    color: black;

}
.subserv1{
    width: 45%;
   
}

.serv1 img{
    width: 43%;
    border-radius: 16px;

    
}
/* second service listing */
.serv2{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    color: black;
}
.subserv2{
    width: 45%;
}

.serv2 img{
    width: 43%;
    border-radius: 16px;
}
/* third service listing */
.serv3{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    color: black;
}
.subserv3{
    width: 45%;
}

.serv3 img{
    width: 43%;
    border-radius: 16px;
}
/* fouth service listing */
.serv4{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    color: black;
}
.subserv4{
    width: 45%;
}

.serv4 img{
    width: 43%;
    border-radius: 16px;

}

.s{
    color: white;
    background-color: #1d2c3c;
    text-align: center;
    // margin-top: -1.5rem;
    height: 10rem;
    padding-top: 2.5rem;
}
.sautivideo{
    display: flex;
    justify-content: center;
    background-color: #FFEC04;
    padding-top: 5rem;
    padding-bottom: 5rem;

}
/* .fab{
    color:white;
    width: 25%;
    height: 100rem;
    display: flex;
    justify-content: center;
    margin-left: 25rem;
    
} */


@media(max-width:500px){
    body{
        width:500px;
    }
    header{
        height: 80rem;
        width: 500px;
    }
    button{
        margin-top: 20px;
        margin-bottom:20px;
    }
    .headerSection{
        width: 500px;
        height: 70rem;
        text-align: center;
    }
    .services{
        display: flex;
        flex-basis: column;
        justify-content: center;
        // width: 80%;
       
        .s{
            width: 50%;
        }
        .serv1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // margin-right:-30rem;
            // margin-left: 10rem;
            font-size: 1rem;
            // width: 150rem;
            .subserv1{
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
        .serv2{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            // margin-right:-25rem;
            font-size: 1rem;
            // width: 150rem;
            .subserv2{
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
        .serv3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // margin-right:-25rem;
            font-size: 1rem;
            // width: 150rem;
            .subserv3{
                width: 100%;
            }
            img{
                width: 100%;
            }
        } 
        .serv4{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            // margin-right:-25rem;
            font-size: 1rem;
            // width: 150rem;
            .subserv4{
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
    }
    .sautivideo{
        width: 100%;
    }

}