html, body {
	font-size: 62.5%;
	margin: 0rem;
	font-size: 1.2rem;

}
body{
    /* background-image: url("images/malik-earnest-xgxzqRpK0UE-unsplash.jpg"); */
    background-color:white;
	color: aliceblue;
}



header{
    background-image: url("../images/selling.jpg");
    /* display: flex;
    justify-content: center;     */
    /* margin-top: 3.1rem; */
    width: 100%;
    /* height: 35rem; */
    color: aliceblue;

    /* margin-right: 2.5 rem;
    margin-left: 2.5 rem; */

}



.headerSection{
    background-color: rgb(110, 20, 35);
    border-radius: 10px;
    opacity: .7;
    height: 100vh;
    width: 85%;
    text-align: center;
    /* margin-top: 4rem; */
    padding: 1rem 5rem;
    
}

button{
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    margin: 40px;
    font-size: 100%;

    
}
button:hover {
    background-color: hotpink;
}

/* .main{
    margin:1rem;
} */



/* first service listing */
.serv1{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

}
.subserv1{
    width: 45%;
}

.serv1 img{
    width: 43%;
    border-radius: 16px;

    
}
/* second service listing */
.serv2{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

}
.subserv2{
    width: 45%;
}

.serv2 img{
    width: 43%;
    border-radius: 16px;
}
/* third service listing */
.serv3{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

}
.subserv3{
    width: 45%;
}

.serv3 img{
    width: 43%;
    border-radius: 16px;
}
/* fouth service listing */
.serv4{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

}
.subserv4{
    width: 45%;
}

.serv4 img{
    width: 43%;
    border-radius: 16px;

}

.s{
    color: white;
    background-color: #1d2c3c;
}
.sautivideo{
    background-color: #FFEC04;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* .fab{
    color:white;
    width: 25%;
    height: 100rem;
    display: flex;
    justify-content: center;
    margin-left: 25rem;
    
} */


@media(max-width:500px){
    header{
        height: 65rem;
    }
    button{
        margin-top: 20px;
        margin-bottom:20px;
    }
    .headerSection p {
        width: 120%;
        text-align: center;
    }
    .services{
        display: block;
    }
    .sautivideo{
        width: 5rem;
    }

}